{% extends 'base.html' %}
{% block body_block %}
<div class='container mt-5'>
    <h2 class="text-center"><strong>Your Orders</strong></h2>
    <div class="row">
        <div class="col-md-12" style="height:auto">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Order ID</th>
                            <th>Products</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for order in orders %}
                        <tr>
                            <th scope="row">{{forloop.counter}}</th>
                            <td><a href="#">{{order.order_id}}</a></td>
                            <td>
                                {% for product in order.orderitems.all %} 
                                {{product}} <br/>
                                {% endfor %}
                            </td>
                            <td>Processing</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-md-12 my-5 text-center">
        <a href="{% url 'App_Shop:home' %}">Back to Home</a>
    </div>
</div>




{% endblock%}
